* {
	margin: 0;
	padding: 0;
}
html, body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
body {
	background-color: #333333;
}
.image_container_top {
	position: relative;
}
.image_container_top audio {
	position: absolute;
	top: 0;
	left: 28%;
	right: 0;
	padding-bottom: 15px;
}
.image_container hr {
	width: 100%;
	border: 1px solid #E3931B;
	margin: 0 auto;
	margin-bottom: 5px;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	header {
		padding-top: 0px;
		margin-top: 0px;
	}
	.image_container_top audio {
		position: absolute;
		top: 0;
		left: 25%;
		width: 25%;
		height: 25px;
	}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.image_container_top audio {
		position: absolute;
		top: 0;
		left: 25%;
		padding-bottom: 40px!important;
		height: 60px;
		width: 24%;
	}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.image_container_top audio {
		position: absolute;
		top: 0;
		left: 24%;
		padding-bottom: 25px;
		width: 25%;
	}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.image_container_top audio {
		position: absolute;
		top: 0;
		left: 24.5%;
		width: 25%;
	}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.image_container hr {
		width: 92%;
	}
}